<div class="announcements">
  <% @announcements.each do |announcement| %>
  <div class="announcement">
      <h1><%= announcement.title %></h1>
      <small>Created by Scott on <%= announcement.created_at %></small>
      <p><%= announcement.body %></p>
      <% if can? :manage, announcement %>
        <%= link_to 'Edit', edit_announcement_path(announcement) %> | <%= link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
  </div>
  <% end %>
</div>
<% if can? :create, Announcement %>
  <br />
  <%= link_to 'New Announcement', new_announcement_path %>
<% end %>