<h2>Sign Up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div id="username_field">
  <%= f.email_field :email, :placeholder => 'Email' %></div>

  <div id="password_field" class="login-form">
  <%= f.password_field :password, :placeholder => 'Password' %></div>

  <div id="password_field" value="Confirm Password">
  <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password' %></div>

<div id="buttonline">
  <input type="submit" id="loginbutton" class="float_left width_4" value="Sign Up"><% f.submit %>
</div>

<% end %>


