<%= form_for(@event, :html => {:class => "form"}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <script type="text/javascript>

	$(function() {
		$( "#datepicker" ).datepicker();
		$( "#format" ).change(function() {
			$( "#datepicker" ).datepicker( "option", "dateFormat",yy-mm-dd );
		});
	});
	
 </script>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "input" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "input", :style => "height:65px;" %>
  </div>

  <div class="field">
    <%= f.label :start_at %>
    <%= f.text_field :start_at, :class => "input datepicker" %>
  </div>
  <div class="field">
    <%= f.label :end_at %>
    <%= f.text_field :end_at, :class => "input datepicker"  %>
  </div>
<p>Choose one of the following attributes:</p>
  <div class="field">
    <%= f.label :mandatory, :class => "label" %>
    <%= f.check_box :mandatory, :class => "input" %> 
  </div>
  <div class="field">
    <%= f.label :service_event, :class => "label" %>
    <%= f.check_box :service_event, :class => "input" %> 
  </div>
  <div class="field">
    <%= f.label :social, :class => "label" %>
    <%= f.check_box :social, :class => "input" %> 
  </div>

 <div class="actions">
    <%= link_to 'Delete Event', @event, :confirm => 'Are you sure?', :method => :delete %>
  </div><br />

  <div class="actions">
    <%= f.submit nil, :class => "input", :style => "padding:0px;padding-left:5px;padding-right:5px" %>
  </div>
<% end %>
