<%= generate_block @event.title do %>
  <p><%= @event.description %></p>
  <br />
  <%= @event.start_at %> - <%= @event.end_at %>
<% end %>
<% if can? :manage, @event %>
  <div class="clear"></div>
  <%= link_to content_tag(:span, 'Edit', :class => "icon_pen"), edit_event_path(@event), :class => "navbutton" %>
<% end %>
